:root {
  --main-color: hsla(192, 97%, 55%, 1);
  --secondary-color: hsla(207, 40%, 31%, 1);
  --tertiary-color: black;
}

body {
  font-family: "Poppins", sans-serif !important;
}

* {
  text-decoration: none !important;
  list-style: none !important;
}

ul {
  padding: 0;
}

.heavyblue {
  color: var(--secondary-color) !important;
}

.mainblue {
  color: var(--main-color) !important;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
}

nav {
  z-index: 999;
}

ul.navbar-nav li {
  padding: 1rem 1.5rem;
}

.nav-item .active {
  position: relative;
}

.nav-item .nav-link {
  color: black;
}

.nav-item .active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

ul.navbar-nav li > a {
  padding: 0 !important;
}

main {
  background-image: url(../assets/home.jpeg);
  background-position: center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

.section-padding {
  padding: 100px 0;
}

main .container .brandLinks {
  width: 50px;
  height: 50px;
}

.title {
  margin: 0 auto 80px;
  width: fit-content;
  font-weight: 900;
  font-size: 40px;
  position: relative;
  z-index: 1;
  color: var(--secondary-color);
}

.title::after {
  content: "";
  width: 100%;
  height: 30px;
  background-image: url(../assets/dots.png);
  background-repeat: repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: -1;
}